td {
  border: 2px solid black;
  text-align: center;
  list-style-position: inside;
  width: 40px;
  height: 40px;
  background-color: white;

}
th {
  border: 2px solid black;
  text-align: center;
  list-style-position: inside;
  background-color: white;
}

table {
  border-spacing: 1px;
}